.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  max-width: 640px;
  margin: auto;
}

.circle {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  color: rebeccapurple;
  background-color: rebeccapurple;
}

.circle-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

.circle-row:last-child {
  justify-content: flex-start;
}

.hero-container {
  background-color: blueviolet;
  width: 100%;
  position: relative;
}

.hero-alien-image img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.hero-alien-image p {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.hero-container .flex-space-between img {
  width: auto;
}

.hero-container p {
  /* font-size: 200px; */
  font-family: 'Rock 3D', system-ui;
  gap: 20px;
}

.w-100 {
  width: 100%;
}

.flex {
  display: flex;
  justify-content: space-evenly;
}

p {
  font-size: 30px;
  font-size: 10.5vw;
}

.rounded-button {
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 20vw;
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
}