.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* .App {
  font-family: sans-serif;
  text-align: center;
} */

.container {
  max-width: 80%;
  margin: auto;
  margin-top: 40px;
}

.container p {
  display: flex;
  font-size: 32px;
  justify-content: center;
  font-weight:600;
  font-family: 'Rock 3D', system-ui;
}

.circle {
  width: 200px;
  height: 200px;
  color: rebeccapurple;
  background-color: rebeccapurple;
  border-radius: 4px;
  box-shadow: 14px 6px 18px -13px rgba(0,0,0,0.75);
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.circle:hover {
  border:4px solid rebeccapurple;
  background-color: #66339994;
}

.circle-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  margin-top: 40px;
}




.hero-container {
  background-color: blueviolet;
  width: 100%;
  position: relative;
}

.hero-alien-image {
  max-width: 100%;
  height: 250px;
  padding: 8px;
}

.hero-alien-image img {
  max-width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 14px 6px 18px -13px rgba(0,0,0,0.75);
}

.hero-alien-image p {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.hero-container .flex-space-between img {
  width: auto;
}

.hero-container p {
  /* font-size: 200px; */
  font-family: 'Rock 3D', system-ui;
  gap: 20px;
}

.w-100 {
  width: 100%;
}

.flex {
  display: flex;
}

p {
  font-size: 30px;
  font-size: 10.5vw;
}

.rounded-button {
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 4vw;
  width: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rounded-button:hover {
  height: 5vw;
  width: 5vw;
}